@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
/* ベース */
body {
  margin: 0;
  height: 100vh; /*  viewport hight(%) */
  background: linear-gradient(180deg, #0b0f3a 0%, #000000 100%);
  font-family: "Orbitron", sans-serif;
  color: #c0ffee;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  user-select: none;
  overflow: hidden; /*  要素にオサマらにあコンテンツを非表示 */
  position: relative;
}

/* 背景に光る星を簡易表現 */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at 20% 30%, #65f3b9 1px, transparent 2px),
    radial-gradient(circle at 70% 80%, #a97aff 1.2px, transparent 2px),
    radial-gradient(circle at 50% 60%, #65f3b9 1.1px, transparent 2px);
  background-repeat: repeat;
  background-size: 100px 100px;
  opacity: 0.15;
  pointer-events: none;
}

/* タイトル */
h1 {
  font-size: 4rem;
  color: #7effd4;
  text-shadow: 0 0 10px #7effd4, 0 0 20px #7effd4;
  margin: 50px 0px;
}

/* 問題文 */
h2,
#message {
  margin-top: 30px;
  font-size: 1.5rem;
  color: #00ff99cc;
  text-shadow: 0 0 5px #00ff99;
  min-height: 2em;
  text-align: center;
}

/* カウントダウン */
#countdown {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  color: #00ffd5;
  /* width: 6rem; */
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  margin: 1rem auto;
}

button {
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(135deg, #00ff99, #004d33);
  color: #001a00;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 16px 36px;
  margin: 14px 2px;
  border: 3px solid #00ff99;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 0 8px #00ff99, inset 0 0 10px #00ff99;
  transition: all 0.3s ease;
  height: 70px;
  width: 280px;
  text-transform: uppercase;
}

/* ボタンホバリング時 */
button:hover:not(:disabled) {
  background: linear-gradient(135deg, #00ffcc, #007744);
  box-shadow: 0 0 16px #00ffcc, inset 0 0 18px #00ffcc;
  color: #ffffff;
  transform: scale(1.05);
}

/* ボタン押下時 */
button:active:not(:disabled) {
  transform: scale(1);
  box-shadow: 0 0 8px #00ff99, inset 0 0 8px #00ff99;
}

/* ボタン非活性化時 */
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

/* メッセージ
#message {
  margin-top: 30px;
  font-size: 2rem;
  color: #00ff99cc;
  text-shadow: 0 0 5px #00ff99;
  min-height: 2em;
  text-align: center;
} */
